
body {
  background-color: #fffcee;
  background-image: url("../img/tanPaper01.jpg");
  padding-bottom: 75px;
  padding-top: 50px;
}

#workshopTitle {
  color: #fff4df;
  font-variant: small-caps;
}

.myCarousel {
  margin-top: 200px;
}

.carousel img {
  vertical-align: middle;
  height: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.carousel-caption-text {
  background-color: rgba(0, 0, 0, .4);
  color: #fff4df;
  padding-left: 5%;
  padding-right: 5%;
  }

h2 {
  color: maroon;
}

.mainIntroSection {
  background-color: black;
  color: #f3e0ba;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 15px;
  text-align: center;
}

.featurette-divider {
border:1px solid maroon;
}

.featurette-image {
  border: 3px solid black;
}

.glyphicon {
  display:  block;
  font-size:  2em;
  text-align:  center;
	color:  maroon;
  margin-bottom: 10px;
}

.paragraphIntro {
  color: black;
  font-size: 1.3em;
}

/*************
Glossary Page
**************/

.glossary {
  padding-top: 60px;
  font-size: 1.3em;
}

dd {
  border-bottom: 2px solid rgba(200, 200, 200, .5);
  margin-bottom: 12px;
  padding-bottom: 3px;
}

/*************
Reading/Watching
**************/

iframe {
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
  padding-bottom: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  font-size: .85em;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: black;
  padding: 10px 4% 10px;
}
